{% extends "base.html.twig" %}

{% block cuerpo %}
    <h1 class="mt-5">Listado de los libros</h1>
    <a href="{{ path('libro_nuevo') }}" class="btn-primary btn"><i class="fa fa-plus"></i> Nuevo Libro</a>
    <table class="table table-bordered m-4">
        <tr>
            <th>Editorial</th>
            <th>Titulo</th>
            <th>Año Publicación</th>
            <th>Paginas</th>
            <th></th>
            <th></th>
        </tr>
        {% for libro in libros %}
            <tr>
                <td>{{ libro.editorial.nombre }}</td>
                <td><a href="{{ path('libro_autores', {'id': libro.id }) }}">{{ libro.titulo }}</a></td>
                <td>{{ libro.anioPublicacion | date("d-m-Y") }}</td>
                <td>{{ libro.paginas }}</td>
                <td>
                    <a href="{{ path('libro_modificar', {"id": libro.id}) }}"><i class="fa fa-pencil"></i></a>
                </td>
                <td>
                    <a href="{{ path('libro_eliminar', {"id": libro.id}) }}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}