{% extends 'base.html.twig' %}

{% block cuerpo %}
    <h1 class="mt-5">Listado de socios</h1>
    {% if is_granted("ROLE_ADMIN") %}
        <a class="btn btn-primary" href="{{ path('socio_nuevo') }}"><i class="fa fa-plus mx-2"></i>Crear Nuevo</a>
    {% endif %}
    <table class="table table-bordered mt-5">
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Dni</th>
            <th>Teléfono</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for socio in socios %}
            <tr>
                <td>{{ socio.nombre }}</td>
                <td>{{ socio.apellidos }}</td>
                <td>{{ socio.dni }}</td>
                <td>{{ socio.telefono }}</td>
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_BIBLIOTECARIO") and socio.esEstudiante %}
                    <td><a href="{{ path('socio_modificar', {id: socio.id}) }}"><i class="fa fa-pencil"></i></a></td>
                    {% else %}
                    <td>Sin permisos de Modificación</td>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <td><a href="{{ path('socio_eliminar', {id: socio.id}) }}"><i class="fa fa-trash"></i></a></td>
                    <td><a href="{{ path('cambiar_clave_usuario', {id: socio.id}) }}">Cambiar Contraseña</a></td>
                    {% else %}
                    <td>Sin permisos de borrado</td>
                    <td>No se puede cambiar la contraseña</td>
                {% endif %}


            </tr>
        {% endfor %}
    </table>
{% endblock %}